nav{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}

a{
    color: white;
}


header a:hover{
    color: #EC9124;
    border-top: 2px solid #EC9124;
    padding-top: 4.7vw;
    padding-bottom: 4.7vw;
 
}

.titre{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 15%;
    margin-top: 2%;
    font-size: large;
}

.titre p {
    font-size: 2vw;
}

/*h1,h2{
    display: flex;
    justify-content: center;
    color: white;
}*/

header{
    font-family: 'Roboto', sans-serif;
    
}

.titre li{
    display: inline;
    margin-right: 3.8vw;
}