
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #0F0E2E;
}
.main-nav {
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
    background: b;
    display: flex;


  }
  nav{
    border-bottom: 1px solid none;
  }

  nav a {
    margin-right: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;

  }
nav .onglets{
    margin-top: 3px;
    margin-right: 200px;

}
  .header{
    display: flex;
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
    justify-content:space-around ;
  }
  .header h1{
    color: white;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin-top: 27px;
 
    

  }
  .header .main-nav a:hover{
    color: #EC9124;
    border-top: 2px solid #EC9124;
    padding-top: 45px;
    padding-bottom: 45px;
 
}
.principale{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
  padding-left: 300px;
  padding-right: 300px;

}
.principale h1{
  font-size: 60px;
  margin-bottom: 0px;
  font-family: 'roboto' sans-serif;
  color: white;
}
.principale p{
  color: white;
}
.principale button{
  padding: 17px 50px;
  background-color: #EC9124;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 1.5%;
}

.principale .titre{
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0%;
}

.equipe{
  align-items: center;
  display: flex;
  flex-direction:column;
}

.equipe h2{
  margin-top: 200px;
  color: white;
}

.equipe p{
  margin-top: 0%;
  color: white;

}
img{
  height: 30px;
  width: 45px;
}

.description{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.description img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.description .kiki .anto .kevin .enzo p{
  color: white;
  align-items: center;
  justify-content: center;
}
.description .kiki h3,p{
  color: white;
  text-align: center;
}
.description .anto h3,p{
  color: white;
  text-align: center;
}
.description .kevin h3,p{
  color: white;
  text-align: center;
}
.description .enzo h3,p{
  color: white;
  text-align: center;
}

.description .kiki{
  background-color: #0E0B26;
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}
.imagekiki{
  width: 100%;
  border-radius: 50%;
  text-align: center;
}
.imagekiki img{
  width: 55%;
  height: 100%;
}

.description .anto{
  background-color: #0E0B26;
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}

.imageanto{
  width: 100%;
  border-radius: 50%;
  text-align: center;
}
.imageanto img{
  width: 55%;
  height: 100%;
}

.description .kevin{
  background-color: #0E0B26;
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}

.imagekevin{
  width: 100%;
  border-radius: 50%;
  text-align: center;
}
.imagekevin img{
  width: 55%;
  height: 100%;
}

.description .enzo{
  background-color: #0E0B26;
  padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}

.imageenzo{
  width: 100%;
  border-radius: 50%;
  text-align: center;
}
.imageenzo img{
  width: 55%;
  height: 100%;
  height: 140px;
  width: 140px;
}

