/* page de scores */
.main{
    margin-top: 10%;
  }
  .score h1{
    text-align: center;
    color: white;
  }
  .titrescore{
    margin-top: 10%;
  }
  .score{
    display: flex;
    justify-content: center;
  }
   .score td,th{
    border: 0.1% solid none;
    margin: 0%;
    padding: 0.5%;
    color: white;
    text-align: center;
   }
   .score th{
    background-color: #EC9224;
   }
   .score td{
    background-color: rebeccapurple;
   }
   .score table{
    margin-bottom: 10%;
   }