        .password2 {
            width: 12vw;
            height: 1vw;
            background-color: #ddd;
            margin-bottom: 10px;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }
        .strength-neutre {
            width: 0vw;
            height: 1vw;
            background-color: white;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }

        .strength-weak {
            width: 3vw;
            height: 1vw;
            background-color: #ff5555;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }

        .strength-medium {
            width: 6vw;
            height: 1vw;
            background-color: #ffaa00;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }

        .strength-strong {
            width: 9vw;
            height: 1vw;
            background-color: #55ff55;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }

        .strength-verystrong {
            width: 12vw;
            height: 1vw;
            background-color: #1f8d1f;
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px;
        }
