body{
    margin: 0;
    background-color: #0F0E2E;
    font-family: 'Roboto', sans-serif;
}

.titre_connexion{
    display: flex;
    justify-content: center;
    color: white;
    background-image: url(../images/connexion.png);
    background-size :100%;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 150px;
    padding-top: 100px;
    margin-top: 2%;

}

.Formulaire_de_connexion{
    display: flex;
    justify-content: center;
    margin-top:5%;

}

.bouton_connexion{
   margin: auto;
   width: 150px;
   height: 50px;
   text-transform: uppercase;
   padding: 15px;
   background-color:  #EC9224 ;
   color: white; 
   border-style: none;
   border-radius: 3px;
}

::placeholder{
    color: grey;
    padding-left: 10px;
}